<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpreadTrader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SpreadTrader.Properties.Settings>
            <setting name="ColumnWidth" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="BFUser" serializeAs="String">
                <value>peter.oconnell444@gmail.com</value>
            </setting>
            <setting name="BFPassword" serializeAs="String">
                <value>thestick871</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="Maximised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="back3" serializeAs="String">
                <value>1.29</value>
            </setting>
            <setting name="back2" serializeAs="String">
                <value>1.89</value>
            </setting>
            <setting name="LiveBets" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowLive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XMLPath" serializeAs="String">
                <value>http://p4-7006.uk2net.com/sangster/x.xml</value>
            </setting>
            <setting name="AppKey" serializeAs="String">
                <value>qmYuRi9HoF3R9FR8</value>
            </setting>
            <setting name="CertFile" serializeAs="String">
                <value>c:\client-2048.p12</value>
            </setting>
            <setting name="CertPassword" serializeAs="String">
                <value>zzzz2222</value>
            </setting>
            <setting name="Upgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BetfairSPColour" serializeAs="String">
                <value>Chartreuse</value>
            </setting>
            <setting name="MultiSPColour" serializeAs="String">
                <value>Magenta</value>
            </setting>
            <setting name="LayTheField" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RowHeight1" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="RowHeight2" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="WaitBF" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Favourites" serializeAs="String">
                <value>1,2,3</value>
            </setting>
        </SpreadTrader.Properties.Settings>
    </userSettings>
</configuration>