<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SpreadTrader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <SpreadTrader.Properties.Settings>
            <setting name="BFUser" serializeAs="String">
                <value />
            </setting>
            <setting name="BFPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Top" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="Maximised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackStake" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LayStake" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="AppKey" serializeAs="String">
                <value />
            </setting>
            <setting name="CertFile" serializeAs="String">
                <value>c:\client-2048.p12</value>
            </setting>
            <setting name="CertPassword" serializeAs="String">
                <value>zzzz2222</value>
            </setting>
            <setting name="Upgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WaitBF" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Favourites" serializeAs="String">
                <value>1,2,3</value>
            </setting>
            <setting name="Proxy" serializeAs="String">
                <value>127.0.0.1:5055</value>
            </setting>
            <setting name="ColumnWidth" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="VerticalSplitter" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="HorizontalSplitter" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="BasePrice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultAction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NetOfCommission" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CrossMatched" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CrossMatchingFormula" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HiliteUnselected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MatchedBetAlert" serializeAs="String">
                <value />
            </setting>
        </SpreadTrader.Properties.Settings>
    </userSettings>
</configuration>
