<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SpreadTrader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<!--<dependentAssembly>
		<assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
		<bindingRedirect oldVersion="0.0.0.0-4.2.3.0" newVersion="4.2.3.0" />
	</dependentAssembly>-->

	<userSettings>
        <SpreadTrader.Properties.Settings>
            <setting name="BFUser" serializeAs="String">
                <value/>
            </setting>
            <setting name="BFPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="Maximised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackStake" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LayStake" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="AppKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="CertFile" serializeAs="String">
                <value>c:\client-2048.p12</value>
            </setting>
            <setting name="CertPassword" serializeAs="String">
                <value>zzzz2222</value>
            </setting>
            <setting name="Upgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WaitBF" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Favourites" serializeAs="String">
                <value>1,2,3</value>
            </setting>
            <setting name="Proxy" serializeAs="String">
                <value>127.0.0.1:5055</value>
            </setting>
            <setting name="BasePrice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultAction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NetOfCommission" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CrossMatched" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CrossMatchingFormula" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HiliteUnselected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MatchedBetAlert" serializeAs="String">
                <value/>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>log.csv</value>
            </setting>
            <setting name="UseStreaming" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StreamUrl" serializeAs="String">
                <value>127.0.0.1:8088</value>
            </setting>
            <setting name="SafeBets" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StreamActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeOffset" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultStake" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="splitter0" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="splitter1" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="splitter2" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="splitter3" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="splitter4" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BRTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BRLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CDTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CDLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="development" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="production" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColumnWidths" serializeAs="String">
                <value/>
            </setting>
            <setting name="StakesPreselect" serializeAs="String">
                <value>2,5,10</value>
            </setting>
        </SpreadTrader.Properties.Settings>
    </userSettings>
</configuration>
